<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WarehouseManagementWKeeper"
        tools:targetApi="31">
        <activity
            android:name=".activity.DeliveryNoteDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ExportManagementActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ItemStockActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CheckItemStockActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreateDeliveryNoteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SelectOrderExportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BarcodeScannerActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />
        <activity
            android:name=".activity.ReceiptDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ImportManagementActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreateReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainAccountantActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SelectOrderImportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainWarehouseKeeperActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>